@font-face{
    font-family: 'Poppins', sans-serif;
    src: url('font/poppins-regular-webfont.woff2') format('woff2'),
         url('font/poppins-regular-webfont.woff') format('woff'),
         url('font/poppins-semibold-webfont.ttf') format('truetype'),
         url('font/poppins-semibold-webfont.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('font/poppins-medium-webfont.woff2') format('woff2'),
         url('font/poppins-medium-webfont.woff') format('woff'),
         url('font/poppins-medium-webfont.ttf') format('truetype'),
         url('font/poppins-medium-webfont.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('font/poppins-light-webfont.woff2') format('woff2'),
         url('font/poppins-light-webfont.woff') format('woff'),
         url('font/poppins-light-webfont.ttf') format('truetype'),
         url('font/poppins-light-webfont.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('font/poppins-semibold-webfont.woff2') format('woff2'),
         url('font/poppins-semibold-webfont.woff') format('woff'),
         url('font/poppins-semibold-webfont.ttf') format('truetype'),
         url('font/poppins-semibold-webfont.eot') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('font/rubik-bold-webfont.woff2') format('woff2'),
         url('font/rubik-bold-webfont.woff') format('woff'),
         url('font/rubik-bold-webfont.ttf') format('truetype'),
         url('font/rubik-bold-webfont.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('font/rubik-light-webfont.woff2') format('woff2'),
         url('font/rubik-light-webfont.woff') format('woff'),
         url('font/rubik-light-webfont.ttf') format('truetype'),
         url('font/rubik-light-webfont.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DM Serif Display', serif;
    src: url('font/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('font/dmserifdisplay-regular-webfont.woff') format('woff'),
         url('font/dmserifdisplay-regular-webfont.ttf') format('truetype'),
         url('font/dmserifdisplay-regular-webfont.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif', serif;
    src: url('font/ptserif-regular-webfont.woff2') format('woff2'),
         url('font/ptserif-regular-webfont.woff') format('woff'),
         url('font/ptserif-regular-webfont.ttf') format('truetype'),
         url('font/ptserif-regular-webfont.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}