@font-face {
  font-family: 'Poppins';
  src: url("font/poppins-regular-webfont.woff2") format("woff2"), url("font/poppins-regular-webfont.woff") format("woff"), url("font/poppins-semibold-webfont.ttf") format("truetype"), url("font/poppins-semibold-webfont.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("font/poppins-medium-webfont.woff2") format("woff2"), url("font/poppins-medium-webfont.woff") format("woff"), url("font/poppins-medium-webfont.ttf") format("truetype"), url("font/poppins-medium-webfont.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("font/poppins-light-webfont.woff2") format("woff2"), url("font/poppins-light-webfont.woff") format("woff"), url("font/poppins-light-webfont.ttf") format("truetype"), url("font/poppins-light-webfont.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("font/poppins-semibold-webfont.woff2") format("woff2"), url("font/poppins-semibold-webfont.woff") format("woff"), url("font/poppins-semibold-webfont.ttf") format("truetype"), url("font/poppins-semibold-webfont.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("font/rubik-bold-webfont.woff2") format("woff2"), url("font/rubik-bold-webfont.woff") format("woff"), url("font/rubik-bold-webfont.ttf") format("truetype"), url("font/rubik-bold-webfont.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("font/rubik-light-webfont.woff2") format("woff2"), url("font/rubik-light-webfont.woff") format("woff"), url("font/rubik-light-webfont.ttf") format("truetype"), url("font/rubik-light-webfont.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'DM Serif Display', serif;
  src: url("font/dmserifdisplay-regular-webfont.woff2") format("woff2"), url("font/dmserifdisplay-regular-webfont.woff") format("woff"), url("font/dmserifdisplay-regular-webfont.ttf") format("truetype"), url("font/dmserifdisplay-regular-webfont.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'PT Serif', serif;
  src: url("font/ptserif-regular-webfont.woff2") format("woff2"), url("font/ptserif-regular-webfont.woff") format("woff"), url("font/ptserif-regular-webfont.ttf") format("truetype"), url("font/ptserif-regular-webfont.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto; }

.logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px; }

.logo-image {
  margin-right: 21px; }

.link-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins';
  font-weight: 600;
  height: 60px;
  min-width: 214px;
  padding: 0 10px;
  color: #fff;
  background-color: #9B9BcA;
  border-radius: 10px; }

.h3-headline {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 26px;
  color: #626780; }

.main-p {
  font-family: 'Poppins';
  font-weight: 400;
  color: #626780; }

.h2-headline {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #402B2B;
  padding-top: 69px;
  padding-bottom: 69px;
  position: relative; }
  .h2-headline::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 65px;
    height: 6px;
    top: 0;
    left: 0;
    background: #EE4D47;
    border-radius: 20px; }

.questions__column {
  display: inline-block;
  max-width: 550px; }

.--d-none {
  display: none; }

.header {
  background-image: url("image/bg-header.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media all and (-ms-high-contrast: none) {
    .header {
      background-image: url("image/bg-header.jpg"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
    .header {
      background-image: url("image/bg-header--retina.webp"); } }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0; }
  .header__nav .header-nav__item {
    display: inline-block; }
    .header__nav .header-nav__item.item__margin {
      margin-right: 50px;
      color: #717784; }
  .header__nav .header-nav__link {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px; }

.header__main {
  padding-top: 196px;
  padding-bottom: 112px; }
  .header__main .header-main__headline {
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    color: #696A86;
    max-width: 548px; }
  .header__main .header-main__p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 150%;
    max-width: 751px; }
  .header__main .header-main__link {
    margin-top: 30px; }

.service .service__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.service .service__top {
  margin-top: 95px; }

.service .service-top__h3 {
  text-align: center;
  line-height: 39px; }

.service .service-top__p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  max-width: 768px;
  margin: 12px auto 0 auto; }

.service .service__middle {
  margin-top: 139px; }

.service .service-item {
  display: inline-block;
  padding: 23px 21px 21px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px; }
  .service .service-item.service-item--active {
    border: 1px solid #9D9D9D;
    position: relative;
    overflow: hidden; }
    .service .service-item.service-item--active::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 7px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #C4C4C4; }

.service .item__margin {
  margin-right: 15px; }

.service .service-item__headline {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #626780;
  margin-top: 21px; }

.service .service-item__p {
  max-width: 220px;
  margin: 12px auto 0;
  font-size: 16px;
  line-height: 20px; }

.service .service__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 192px; }

.service .service-bottom__left {
  margin-right: 40px; }

.service .service-bottom__h3 {
  line-height: 40px; }

.service .service-bottom__p {
  margin-top: 16px;
  max-width: 480px;
  font-size: 18px;
  line-height: 167%; }

.video_elem {
  margin-top: 184px; }
  .video_elem .video__h2 {
    max-width: 500px; }
  .video_elem .video-content {
    position: relative;
    width: 100%; }
    .video_elem .video-content .ratio {
      height: 0;
      padding-top: 56.25%; }
    .video_elem .video-content .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("image/video__image.webp"); }
      @media all and (-ms-high-contrast: none) {
        .video_elem .video-content .content {
          background-image: url("image/video__image.jpg"); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
        .video_elem .video-content .content {
          background-image: url("image/video__image--retina.webp"); } }
  .video_elem .video__play {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #334B76; }

.questions__elem {
  margin-top: 150px; }
  .questions__elem .questions__h2 {
    max-width: 550px; }
  .questions__elem .column-item {
    background-color: transparent;
    box-shadow: 0px 20px 40px #F5F5FF;
    margin-bottom: 12px; }
  .questions__elem .column-item__btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 550px;
    padding: 25px 35.26px;
    background-color: #fff;
    border-radius: 23px;
    font-family: 'Poppins';
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    line-height: 167%;
    position: relative;
    color: #402B2B;
    box-shadow: 0px 5px 10px #E0E0E0; }
    .questions__elem .column-item__btn:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 35.84px;
      width: 11px;
      height: 11px;
      margin: auto 0;
      background: url("image/arrow-right.png") no-repeat center; }
    .questions__elem .column-item__btn.active {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
      .questions__elem .column-item__btn.active::before {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
  .questions__elem .column-item__answer {
    display: none; }
